@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.dashboard {
  display: flex;
  width: 100%;
  flex-direction: column;

  &-content {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-image: url('../../assets/images/initial-page-image-1.jpg');
    background-size: 31rem 41rem;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ecf3fa;
    padding: 2rem 10rem;
  }

  &__no-vendors {
    @include h2;
    font-weight: 700;
    font-size: 2.25rem;
    padding: 5rem 11rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ecf3fa;
    padding: 1rem 3rem;
  }

  &__user {
    width: 70rem;
    margin: 6rem auto 0 auto;

    &__user_info {
      width: 70rem;
      background-color: #fff;
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 8%);
      margin: 0 auto 0 auto;
      border-top: 0.25rem solid #52489C;
      border-radius: 6px;
    }
  }
}


