@use '../../partials/variables' as *;
@use "../../partials/mixins" as *;

.events {
  min-width: 18rem;
  margin: 0 1rem;

  @include tablet {
    margin: 0 1.5rem;
  }

  @include desktop {
    max-width: 67.7rem;
    margin: 0 auto;
  }

  &-content {
    margin-top: 4rem;
  }
}