@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.modal {

  position: relative;


  &-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $primary-black;
    opacity: 0.7;
  }

  &-body {
    position: fixed;
    background-color: $primary-white;
    width: 42rem;
    height: 20rem;
    box-shadow: 0 2px 5px rgba(19, 24,44, 0.1);
    padding: 2.5rem 4rem;
    top: 26%;
    left: 33%;
  }
}
