@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.pageHeader {
  @include basic_header;
  padding: 1rem 1rem;
  min-width: 18rem;
  align-items: end;
  flex-direction: column;


  @include tablet{
    flex-direction: row-reverse;
  }

  &--vendor {
    align-items: end;

    @include tablet{
      flex-direction: row-reverse;
      align-items: flex-start;
    }
  }

  &__vendor-info {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;

    @include tablet{
      margin:0 0 1.5rem 0;
    }

    &__label {
      font-weight: 600;
      margin-bottom: 0.5rem;

      &--heading {
        font-weight: 700;
      }
    }
  }

  &__header {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 1.5rem;

    @include tablet {
      margin-top: 1rem;
    }


    @include desktop {
      display: flex;
      flex: 1;
    }

    &-heading {
      @include h1
    }

    &-select {
      @include form_input;
      font-size: 1rem;
      /*margin-top: 0.5rem;*/
      width: 58%;
      max-width: 10rem;

      &-option {
        font-weight: 600;
      }

      @include tablet {
        margin-top: 0.5rem;
        width: 100%;
        max-width: 12rem;
      }
    }

    &--vendor {
      display: flex;
      flex-direction: column-reverse;

      @include tablet{
        margin-top: 0.5rem;
      }
    }
  }


  &__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include tablet {
      width: auto;
      height: 7rem;
      flex-direction: column;
    }

    &-link {
      @include default_link($primary-purple, $secondary-purple);
      padding: 0.3rem 0.3rem;

      @include tablet {
        width: 12rem;
        padding: 0.5rem 0;
      }

      &__text {
        display: none;
        margin-left: 0.3rem;

        @include tablet {
          display: flex;
        }
      }
    }
  }
}