@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.pageHeader {
  @include basic_header;
  padding: 1.5rem 1rem;
  min-width: 18rem;
  align-items: flex-start;

  @include desktop{
    align-items: center;
  }

  &__header {

    @include tablet {
      width: 35%;
    }

    @include desktop {
      display: flex;
      flex: 1;
    }

    &-heading {
      @include h1
    }

    &-select {
      @include form_input;
      font-size: 1rem;
      margin-top: 0.5rem;
      height: 2.1rem;

      &-option {
        font-weight: 600;
      }

      @include desktop {
        margin-top: 0;
        width: 40%;
        margin-left: auto;
        margin-right: 1rem;
      }
    }
  }


  &__actions {
    &-link {
      @include default_link($primary-purple, $secondary-purple);
      padding: 0.3rem 0.3rem;

      @include tablet {
        width: 13rem;
        padding: 0.5rem 0;
      }

      &__text {
        display: none;

        @include tablet {
          display: flex;
        }
      }
    }
  }
}