@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.signUp-form {
  display: flex;
  flex-direction: column;

  &__heading {
    @include h2;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ecf3fa;
  }

  &__fullName {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
  }

  &__label {
    font-weight: 600;
    font-size: .85rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }

  &__input {
    height: 2rem;
    font-family: inherit;
    border: 1px solid #E6E4E4;
    background-color: #fafafa;
    padding: 0.2rem 1rem;
    font-weight: 600;

    &:focus {
      outline-color: #52489C;
      color: $primary-black;
      border-radius: 0;
    }
  }

  &__submit {
    @include default_link($primary-purple, $secondary-purple);
    margin-top: 1.5rem;
    font-size: 0.9rem;
  }
}