@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.event {
 width: 70rem;
  margin: 6rem auto 3rem auto;

  &__heading {
    @include h1;
    padding: 0 2rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ecf3fa;
    padding: 1rem 0;
  }

  &__editvendor {
    @include baseLink;
    color: #52489C;
    background-color: #ffffff;
    border: 1px solid #52489C;

    &:hover {
      color: #ffffff;
      background-color: #52489C;
    }
  }

  &__addvendor {
    @include baseLink;
    color: #ffffff;
    background-color: #52489C;
    margin-left: 0.8rem;

    &:hover {
      background-color: #ffffff;
      color: #52489C;
      border: 1px solid #52489C;
    }

    &__cancel {
      height: 2.3rem;
      border-radius: 0;
      color: #e9968a;
      background-color: #FFFFFF;
      font-size: 0.9rem;
      border: none;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      border: 1px solid #F87060;
      text-align: center;
      width: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      &:hover{
        background-color: #e9968a;
        color: $primary-white;
      };
    }
  }

  &__actions {
    display: flex;
    margin-right: 2rem;
  }

  &__description {
    @include h3;
    padding: 1rem 2rem;
  }

  &__detail {
    @include h3;
    font-weight: 700;
    font-size: 1.70rem;
    padding: 1rem 2rem;

    &.red {
      color: red;
    }

    &__text {
      display: flex;
      height: 50%;
      align-items: center;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;

    &__item {
      background-color: $primary-white;
      width: 14rem;
      height: 8rem;
      border-top: 0.25rem solid #52489C;
      border-radius: 6px;
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 8%);
    }
  }
}
