@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.event {
 width: 70rem;
  margin: 6rem auto 3rem auto;

  &__heading {
    @include h1;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ecf3fa;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__addvendor {
    margin-top: 1.5rem;
    height: 2.3rem;
    border-radius: 0;
    color: #FFFFFF;
    background-color: #F87060;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border: 1px solid #F87060;
    margin-left: 0.8rem;
    padding: 0 1rem 0 1.7rem;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover {
      background-color: #e9968a;
    }

    &__cancel {
      margin-top: 1.5rem;
      height: 2.3rem;
      border-radius: 0;
      color: #e9968a;
      background-color: #FFFFFF;
      font-size: 0.9rem;
      border: none;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      border: 1px solid #F87060;
      text-align: center;
      width: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      &:hover{
        background-color: #e9968a;
        color: $primary-white;
      };
    }
  }

  &__actions {
    display: flex;
    margin-right: 2rem;
  }

  &__description {
    @include h3;
    padding: 1rem 2rem;
  }

  &__detail {
    @include h3;
    font-weight: 700;
    font-size: 1.70rem;
    padding: 1rem 2rem;
  }

  &__details {
    display: flex;
    justify-content: space-between;

    &__item {
      background-color: $primary-white;
      width: 15rem;
      height: 10rem;
      border-top: 0.25rem solid #F87060;
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    }
  }
}
