@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.paymentForm {
  @include form_container;

  &__error {
    @include form_errors;
  }

  &__header {
    @include form_header;
  }

  &__form {
    @include form;

    &__row {
      @include form_controls_row;

      &-controls {
        @include form_controls;

        &__label {
          @include form_label;

          &--info {
            margin-top: 0;
            color: #9797A5;
          }

          &--paid {
            margin-top: 0;
            color: red;
          }
        }

        &__input {
          @include form_input;
        }
      }
    }

    &__actions {
      @include form_actions;

      &__button {
        @include form_button;
      }
    }
  }
}