@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.sidebar {
  width: 23rem;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #2C264B;
  color: $primary-white;

  &-header {
    padding: 0 2rem;
    border-bottom: 1px solid #52489C;
    height: 10%;
    display: flex;
    align-items: center;

    &__link {
      text-decoration: none;
      color: #ffffff;
    }

    &__title {
      @include h1;
    }
  }

  &-content {
    padding: 2rem 0 2rem 1.5rem;
    height: 90%;

    &__header {
      height: 5%;
      padding: 2rem;

      &-title {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }
}
