@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

/*
.event-item {
  text-decoration: none;
  color: #ffffff;
  transition: border 0.1s ease-in-out, margin 0.1s linear;
  border-left: 0;

  &-title {
    @include p;
    font-size: 1rem;
  }

  &-date {
    @include p;
    margin-top: 0.3rem;
  }
}*/


.eventItem {
  width: 100%;
  background-color: $primary-white;
  margin-bottom: 2rem;
  border-top: .25rem solid $primary-purple;
  border-radius: 6px;
  display: flex;
  transition: all .3s ease-in-out;
  color: $primary-black;
  flex-direction: column;
  border-left: 1px solid #ECF3F4;
  border-right: 1px solid #ECF3F4;
  border-bottom: 1px solid #ECF3F4;

  &:hover {
    border-top-color: #515FFF;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 8%);
  }

  &__header {
    @include h3;
    padding: 1rem 1rem;
    text-decoration: none;
    color: $secondary-purple;
    display: flex;
    align-items: center;

    &__text {
      margin-right: 0.5rem;
      transition: all .3s ease-in-out;

      &:hover {
        margin-right: 1rem;
      }
    }

    @include tablet {
      padding: 1rem 1.5rem;
      font-size: 1.3rem;
    }

    @include desktop {
      padding: 1rem 2rem;
    }

    &:hover {
      color: #515FFF;
    }
  }

  &__content {
    padding: 1rem 1rem 0.2rem 1rem;
    border-top: 1px solid #ECF3F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include tablet {
      padding: 1.5rem;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include desktop {
      padding: 2rem;
    }

    &__text {
      font-size: 1.1rem;
      width: 100%;
      margin-bottom: .8rem;

      @include tablet {
        width: 50%;
      }

      @include desktop {
        width: 24%;
        margin-bottom: 0;
      }

      &--date {
        font-size: 1.1rem;
        width: 100%;
        margin-bottom: .8rem;

        @include tablet {
          width: 50%;
        }

        @include desktop {
          width: 21%;
          margin-bottom: 0;
        }
      }

      &--description {
        font-size: 1.1rem;
        width: 100%;
        line-height: 1.5rem;
        margin-bottom: .8rem;

        @include tablet {
          width: 50%;
        }

        @include desktop {
          width: 31%;
          margin-bottom: 0;
        }
      }
    }

    &__label {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}