@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.eventsForm {
  @include form_container;

  &__header {
    @include form_header;
  }

  &__error {
    @include form_errors;
  }

  &__form {
    @include form;

    &-row {
      @include form_controls_row
    }

    &-controls {
      @include form_controls;
    }

    &-actions {
      @include form_actions;

      &__link {
        @include form_link;
      }

      &__button {
        @include form_button;
      }
    }

    &__label {
      @include form_label;
    }

    &__input {
      @include form_input;

      &--text {
        @include form_input_text;
      }
    }


    .react-datepicker {
      border: 1px solid #E6E4E4;
      width: 100%;
      height: auto;

      &__header {
        background-color: $primary-white;
      }

      &__day--selected {
        background-color: #52489C;
        border-radius: 0;

        &:hover {
          background-color: #52489C;
          border-radius: 0;
        }
      }

      &__day--keyboard-selected {
        background-color: #52489C;
        border-radius: 0;
      }
    }
  }
}