@use '../../partials/mixins' as *;
@use  '../../partials/variables' as *;

.mainPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    display: flex;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  }

  &__image {
    width: 29rem;
    height: 40rem;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/images/initial-page-image-1.jpg');

    &-overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(50, 50, 50, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 1rem;
      color: #52489C;
    }
  }

  &__content {
    background-color: $primary-white ;
    width: 29rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    @include h1;
  }

  &__sub-heading {
    @include p;
    font-weight: 600;
    margin-top: 0.2rem;
  }

  &__heading--secondary {
    @include h2;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ecf3fa;
  }
}

.logIn-form {
  display: flex;
  flex-direction: column;

  &__label {
    font-weight: 600;
    font-size: .85rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }

  &__input {
    height: 2rem;
    font-family: inherit;
    border: 1px solid #E6E4E4;
    background-color: #fafafa;
    padding: 0.2rem 1rem;
    font-weight: 600;

    &:focus {
      outline-color: #52489C;
      color: $primary-black;
      border-radius: 0;
    }
  }

  &__submit {
    margin-top: 1.5rem;
    height: 2.3rem;
    border-radius: 0;
    color: $primary-white;
    background-color: #52489C;
    font-size: .9rem;
    border: none;
    cursor: pointer;
    transition: all .1s ease-in-out;

    &:hover {
      background: #8179b3;
      border: 1px solid #52489C;
    }
  }
}

.init-container {

}