@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;


.message-list {
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  overflow-y: auto;

  @include desktop {
    padding: 1rem 2rem;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
  }
}