@use './typography' as *;

// Breakpoints

$tablet: 768px;
$desktop: 1280px;


// Fonts
$primary-font: 'Poppins';
$heading-font: 'Raleway';

// Colors
$primary-white: #FFFFFF;
$primary-black: #323338;
$primary-light-grey: #E6E9EF;
$primary-royal-blue: #0085ff;
$primary-mercury: #E1E1E1;
$primary-purple: #52489C;
$secondary-purple: #515FFF;


$primary-icons-color: #676879;

